@import "../common/_settings.scss";


#password {
    margin: auto;
    margin-top: 70px;
    border-radius: 0.5rem;
    box-shadow: #{$box-shadow-mid};
    padding: 50px 50px;
    margin-bottom: 150px;
    max-width: 700px;
}


#password__title {
    font-weight: 900;
    font-size: 30px;
    color: #{$color-black};
}


.password__form__item__feedback__valid{
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: #{$color-valid};
    font-size: 0.8rem;
}

.password__form__item__feedback__invalid{
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: #{$color-invalid};
    font-size: 0.8rem;
}


.password__form__item{
    margin-top: 30px;
}
.password__form__item__label{
    margin-left: 5px;
}


#password__form__submit{
    margin-top: 50px;
}

@include mobile{
    #password{
        margin-top: 20px;
    }

}