<div id="header">
    <div id="header__sidebar">
        <i class="fas fa-bars" id="header__sidebar__menu"></i>
        <i class="fas fa-times" id="header__sidebar__menu__close"></i>
    </div>
    <div id="header__logo" onclick="window.location.href='/'">Helper</div>

    <div id="header__menu">
        <div id="header__menu__contents" class="header__menu__item">목차 &nbsp;<i class="fas fa-chevron-down" id="header__menu__item__icon"></i></div>
        <div id="header__menu__pre" class="header__menu__item"> 가입</div>
    </div>

    <div id="header__menu__contents__body">
        <div class="header__menu__contents__body__item"><a href="/posts/inputoutput/">입력 / 출력</a></div>
        <div class="header__menu__contents__body__item">사칙연산</div>
        <div class="header__menu__contents__body__item">문자열</div>
        <div class="header__menu__contents__body__item">if</div>
        <div class="header__menu__contents__body__item">for / while</div>
        <div class="header__menu__contents__body__item">재귀</div>
        <div class="header__menu__contents__body__item">BFS / DFS</div>
    </div>

    <div id="header__user">
        {% if not request.user.is_authenticated %}
        <div id="header__user__login" onclick="window.location.href='/login'">로그인</div>
        <div id="header__user__register" onclick="window.location.href='/register'">회원 가입</div>
        {% else %}
        <a href="/mypage">
            <div id="header__user__avatar"> <i class="header__user__avatar__icon fas fa-user" data-side="user"></i>
            </div>
        </a>
        {% endif %}
    </div>
</div>


<style>
    #header__menu__contents__body{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 8vh;
        left: 7.5vw;
        width: 300px;
        height: 500px;
        padding: 10px;
        border-radius: 0.4rem;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
        overflow-y: auto;
    }
    .header__menu__contents__body__item{
        display: flex;
        width: 100%;
        height: 60px;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
        color: #6E6D7A;
        font-weight: 700;
        cursor: pointer;
    }
    .header__menu__contents__body__item:hover{

    }
</style>


<script>
    document.querySelector("#header__menu__contents").addEventListener("click",()=>{
        flex(document.querySelector("#header__menu__contents__body"))
    })
    document.querySelector("#header__menu__contents, #header__menu__contents__body").addEventListener('click', (e) => {
        e.stopPropagation();
    });

    document.querySelector('body, html').addEventListener('click', (e) => {
        if (document.querySelector("#header__menu__contents__body").style.display == "flex"){
            hide(document.querySelector("#header__menu__contents__body"))
        }
    });
</script>