
<div class="posts__content">
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
<div class="posts__content__code" style="margin-top: 20vh; box-sizing: content-box;">
<div class="posts__content__code__title" style="border-left: 5px #DD4C39 solid; padding-left: 10px; margin-bottom: 15px; font-size: 1.75rem; margin-left: 20px;">여러 입력 받기</div>
<div class="posts__content__code__body posts__content__mode__body">
<i class="far fa-copy posts__code__copy"></i>
<div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">sys</span>
<span class="n">n</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">sys</span><span class="o">.</span><span class="n">stdin</span><span class="o">.</span><span class="n">readline</span><span class="p">())</span>
<span class="nb">print</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
</pre></div>
</div>
</div>
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->


<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->
<div class="posts__content__text posts__content__mode__body">
<div class="zuzu__panel__green posts__content__text__body">
<div class="zuzu__panel__title">예제 입력</div>

<pre class="zuzu__panel__content">
5
</pre>
</div>
<div class="zuzu__panel__blue posts__content__text__body">
    <div class="zuzu__panel__title">예제 출력</div>
<pre class="zuzu__panel__content">
5
</pre>
</div>
</div>
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->
</div>






