{% extends 'common/base.html' %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" href="/static/css/common/all.css">
<link rel="stylesheet" href="/static/css/accounts/password.css">

<div id="password" class="zuzu__container">

    <div id="password__title">비밀번호 변경하기</div>
    <div id="password__form">
        <form>
            {% csrf_token %}
            <div id="password__form__pw" class="password__form__item">
                <div class="password__form__item__label">현재 비밀번호</div>
                <input style="margin-top: 10px;" id="password__form__pw__input" class="zuzu__input" type="password"
                    placeholder="현재 비밀번호를 입력해 주세요." />


            </div>

            <div id="password__form__pw__new" class="password__form__item">
                <div class="password__form__item__label">새로운 비밀번호</div>
                <input style="margin-top: 10px;" id="password__form__pw__new__input" class="zuzu__input" type="password"
                    placeholder="새로운 비밀번호를 입력해 주세요." />

                <div id="password__form__pw__new__feedback">
                    <div id="password__form__pw__new__feedback__valid" class="password__form__item__feedback__valid">
                        좋습니다!
                    </div>
                    <div id="password__form__pw__new__feedback__invalid"
                        class="password__form__item__feedback__invalid">
                        <i class="fas fa-exclamation-circle"></i> &nbsp;
                        숫자와 영문을 조합한 7~20자리를 입력해 주세요.
                    </div>
                </div>
            </div>


            <div id="password__form__pw__new__re" class="password__form__item">
                <div class="password__form__item__label">새로운 비밀번호 확인</div>
                <input style="margin-top: 10px;" id="password__form__pw__new__re__input" class="zuzu__input"
                    type="password" placeholder="새로운 비밀번호를 다시 입력해 주세요." />

                <div id="password__form__pw__new__re__feedback">
                    <div id="password__form__pw__new__re__feedback__valid"
                        class="password__form__item__feedback__valid">
                        좋습니다!
                    </div>
                    <div id="password__form__pw__new__re__feedback__invalid"
                        class="password__form__item__feedback__invalid">
                        <i class="fas fa-exclamation-circle"></i> &nbsp;
                        비밀번호가 일치하지 않습니다.
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="zuzu__btn zuzu__btn__disabled" id="password__form__submit">
        변경하기
    </div>

</div>

</div>




<!-- font -->
<script>


    let flag__password__pw__new = 0
    let flag__password__pw__new__re = 0

    function isValidPw(str) {
        let reg = /^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{7,20}$/ // 영문 숫자 특수문자 중 2개 조합 7~20자리
        return reg.test(str)
    }



    function setValidFeedback(element) {
        element.classList.add("zuzu__input__valid")
        element.classList.remove("zuzu__input__invalid")
    }

    function setInvalidFeedback(element) {
        element.classList.add("zuzu__input__invalid")
        element.classList.remove("zuzu__input__valid")
    }




    document.querySelector("#password__form__pw__new__input").addEventListener("keyup", (e) => {
        if (isValidPw(e.target.value)) {

            if (document.querySelector("#password__form__pw__new__re__input").value !== '') {
                if (document.querySelector("#password__form__pw__new__input").value == document.querySelector("#password__form__pw__new__re__input").value) {
                    flag__pw__re = 1
                    setValidFeedback(document.querySelector("#password__form__pw__new__re__input"))
                    block(document.querySelector("#password__form__pw__new__re__feedback__valid"))
                    hide(document.querySelector("#password__form__pw__new__re__feedback__invalid"))
                }
                else {
                    flag__pw__re = 0
                    setInvalidFeedback(document.querySelector("#password__form__pw__new__re__input"))
                    block(document.querySelector("#password__form__pw__new__re__feedback__invalid"))
                    hide(document.querySelector("#password__form__pw__new__re__feedback__valid"))
                }
            }


            setValidFeedback(e.target)
            flag__password__pw__new = 1
            block(document.querySelector("#password__form__pw__new__feedback__valid"))
            hide(document.querySelector("#password__form__pw__new__feedback__invalid"))
        }
        else {

            if (document.querySelector("#password__form__pw__new__re__input").value !== '') {
                if (document.querySelector("#password__form__pw__new__input").value == document.querySelector("#password__form__pw__new__re__input").value) {
                    flag__pw__re = 1
                    setValidFeedback(document.querySelector("#password__form__pw__new__re__input"))
                    block(document.querySelector("#password__form__pw__new__re__feedback__valid"))
                    hide(document.querySelector("#password__form__pw__new__re__feedback__invalid"))
                }
                else {
                    flag__pw__re = 0
                    setInvalidFeedback(document.querySelector("#password__form__pw__new__re__input"))
                    block(document.querySelector("#password__form__pw__new__re__feedback__invalid"))
                    hide(document.querySelector("#password__form__pw__new__re__feedback__valid"))
                }
            }

            flag__password__pw__new = 0
            block(document.querySelector("#password__form__pw__new__feedback__invalid"))
            hide(document.querySelector("#password__form__pw__new__feedback__valid"))
            setInvalidFeedback(e.target)
        }
    })

    document.querySelector("#password__form__pw__new__re__input").addEventListener("keyup", (e) => {
        if (document.querySelector("#password__form__pw__new__input").value == (document.querySelector("#password__form__pw__new__re__input")).value) {
            setValidFeedback(e.target)
            flag__password__pw__new__re = 1
            block(document.querySelector("#password__form__pw__new__re__feedback__valid"))
            hide(document.querySelector("#password__form__pw__new__re__feedback__invalid"))
        }
        else {
            flag__password__pw__new__re = 0
            block(document.querySelector("#password__form__pw__new__re__feedback__invalid"))
            hide(document.querySelector("#password__form__pw__new__re__feedback__valid"))
            setInvalidFeedback(e.target)
        }
    })


    document.querySelectorAll("#password__form__pw__input, #password__form__pw__new__input, #password__form__pw__new__re__input").forEach(ele => {
        ele.addEventListener("keyup", () => {
            if (flag__password__pw__new && flag__password__pw__new__re) {
                document.querySelector("#password__form__submit").classList.remove("zuzu__btn__disabled")
            }
            else {
                document.querySelector("#password__form__submit").classList.add("zuzu__btn__disabled")
            }
        })
    })

</script>


<!-- ajax -->

<script>
    document.querySelector("#password__form__submit").addEventListener("click", () => {

        if (document.querySelector("#password__form__submit").classList.contains("zuzu__btn__disabled")) {
            return false
        }
        $.ajax({
            type: "post",
            dataType: "json",
            data: {
                pw_origin: document.querySelector("#password__form__pw__input").value,
                pw_new: document.querySelector("#password__form__pw__new__input").value,
                pw_new_re: document.querySelector("#password__form__pw__new__re__input").value,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (response.msg == "success") {
                    Swal.fire({
                        icon: "success",
                        title: "비밀번호가 성공적으로 변경되었습니다.",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        location.href = "/"
                    })
                }
                else if (response.msg == "pw-error") {
                    Swal.fire("이런...", "비밀번호를 다시 확인해주세요.", "error")
                    console.log(response)
                }
                else {
                    Swal.fire("이런...", "예상치 못한 오류가 발생했습니다", "error")
                    console.log(response)
                }
            },
            error: function () {
                Swal.fire("이런...", "예상치 못한 오류가 발생했습니다!", "error")
            }
        })

    })  
</script>





{% endblock %}